**
!*/

!.gitignore
!/src/**
!/programs/capturer/**
!/programs/pyBridge.js
!/resources/screenshots/.gitkeep
!/resources/recordings/.gitkeep
!/resources/start_capture/.gitkeep
!/resources/resolves/.gitkeep
!/resources/protocolConversion.js
!/resources/language/**

programs/capturer/install/**
programs/capturer/logs/**