**
!*/

!.gitignore
!/src/**
!/programs/capturer/**
!/programs/pyBridge.js
!/resources/screenshots/.gitkeep
!/resources/recordings/.gitkeep
!/resources/protocolConversion.js

programs/capturer/install/**
programs/capturer/logs/**