**
!*/

!.gitignore
!/src/**
!/programs/capturer/**
!/programs/pyBridge.js
!/resources/screenshots/.gitkeep
!/resources/recordings/.gitkeep
!/resources/start_capture/.gitkeep
!/resources/resolves/.gitkeep
!/resources/protocolConversion.js
!/resources/language/**
!/3rd_party_license_notice.md
!/README.md
!/compile_guide.md

!/programs/py_communicator.exe
!/package.help.json

!/resources/**/compile.keep
!/app_build/**

programs/capturer/install/**
programs/capturer/logs/**