html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    text-align: center;
    padding-top: 20px;
}

#capture-image {
    max-height : 400px;
    max-width: 800px;
    width: min(800px, 40vw);
    margin-top : 2px;
    margin-left : 7px;
    margin-right : 7px;
    margin-top : 2px;
}

#rec-information {
    display: inline-block;
    margin: auto;
    border : 2px solid black;
    padding-left : 30px;
    padding-right : 30px;
}