html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

#simulate {
  padding-left: 23px;
  padding-right: 23px;
}
  
  
body {
  text-align: center;
  padding-top: 20px;
}

#save-menu, #simulation-menu {
  width: 100vw;
}

.inner-save-menu {
  margin-left: 0px;
  margin-right: 0px;
}

.verticalLine {
  border-right: 4px solid #4b42f5;
}

#input-field, #display-field {
  position: relative;
}

.center-horizontally {
  margin: auto;
}

.floating-top-right {
  position: absolute;
  top:115%;
  max-height: 100px;
  left: 0px;
  width: max(97.15%, 150px);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid black;
  background-color: lightblue;
  overflow: hidden;
  overflow-y:scroll;
  caret-color: transparent;
}

.floating-top-right:focus {
  outline: none;
} 

.expand-button-option {
  width: 100%;
  background-color: lightblue;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hover-sim:hover {
  background-color: hsl(48, 77%, 75%);
}

.hover-rec:hover {
  background-color: hsl(171, 80%, 48%);
}

.expand-option-border {
  border-width: 0px 0px 1px 0px;
}

.no-border {
  border-width: 0px !important;
}

.warning-text {
  margin: 20px 2px 0px 2px;
  padding-bottom: 0px;
  font-style: italic;
  color: red;
}

input {
  text-align: center;
  border-radius: 4px;
  border-width: 3px;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.inline-label {
  display: inline-block;
  width:75px;
  text-align:left;
  margin-right: 7px;
  margin-bottom: 0px;
}

.empty-field {
  background-color: lightblue;
  font-style: italic;
  font-size: 11px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.equal-pad {
  width: 130px;
}

.settings {
  font-size: 14px;
  margin-left: 0px;
  padding: 0px 1px 0px 1px;
  width: 24px;
}

.inliner {
  display: inline;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.single-line {
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 0px;
  display: inline-block;
  line-break: strict;
}

.test-border {
  border: 1px solid red;
}

::-webkit-scrollbar {
  display: none;
}

.floating-left-bottom {
  position: absolute;
  bottom: 108%;
  right: -7%;
  font-style: bold;
}

.button.is-tiny {
  border-radius: 4px;
  font-size: .7rem;
}