body {
    background-color: mediumpurple;
    color: whitesmoke;
    height: 100vh;
    width: 100vw;

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

